<h1>Areas</h1>
<br />
<a asp-area="Administration" asp-controller="Home" asp-action="Index">Administration/Home/Index</a>
<br />
<a asp-area="Collaboration" asp-controller="Home" asp-action="Index">Collaboration/Home/Index</a>
<br />
<a asp-area="Music" asp-controller="Home" asp-action="Index">Music/Home/Index</a>