<h2>Custom tag helpers</h2>

<item-create></item-create>
<br />
<item-delete item-id="1"></item-delete>
<br />
<item-details item-id="1"></item-details>
<br />
<item-edit item-id="1"></item-edit>
<br />
<item-list></item-list>